<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <style>
            body, html {
                background-color: #1b1b1b;
            }
            .box {
                padding: 18% 25%;
                color: #6ec5ff;
                text-align: center;
            }

            .cover-button {
                background-color: #1b1b1b;
                color: #6ec5ff;
                border: 1px solid #6ec5ff;
                border-radius: 5px;
            }
        </style>

    </head>
    <body>
        <div class="box">
            <h1>py-EDUCATOR</h1>
            <br>
            <p>Your personal educator tailor fit to meet all your academic needs!</p>
            <br>
            <div class="row">
                <div class="col-md-4" style="padding-bottom: 5%;">
                    <button class="cover-button" onclick="location.href = '/summary';">Generate a Summary</button>
                </div>
                <div class="col-md-4" style="padding-bottom: 5%;">
                    <button class="cover-button" onclick="location.href = '/map';">Show me a Mind Map</button>
                </div>
                <div class="col-md-4" style="padding-bottom: 5%;">
                    <button class="cover-button" onclick="location.href = '/question';">Personalised Q & A Session</button>
                </div>
            </div>
        </div>
    </body>
</html>