<!DOCTYPE html>
<html>
    <head>
        <title>Mind Map</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Bungee&family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mindmap.css')}}">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
            <a class="navbar-brand" href="/" style="color: #afd7ee; font-family: 'Bungee', sans-serif;">pyEDUCATE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/revise" style="color: #afd7ee;">Quick Revision Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map" style="color: #afd7ee;">Show me a Mind Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/question" style="color: #afd7ee;">Test Your Knowledge</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="box" style="display:flex; align-items: center; flex-direction: column;">
            {% if image_title %}
            <h3>Your Mind Map</h3>

            <div class="card-body" style="flex-direction: row; justify-content: space-between;">
                <a href="{{image_title}}" class="card-link" download style="flex: 1;"><b>Download Mind Map</b></a>
                <a href="{{url_for('view',filename=image_title)}}" class="card-link" style="flex: 1;"><b>View Mind Map</b></a>
            </div>
            
            <img src="{{image_title}}" alt="Knowledge Graph" width="50%" height="50%">
            {% else %}
            <h4>Unable to generate mind map :( </h4>
            {% endif %}

        </div>
    </body>
</html>