<!DOCTYPE html>
<html>
    <head>
        <title>Questions</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Bungee&family=Oswald&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='question_gen.css')}}">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
            <a class="navbar-brand" href="/" style="color: #afd7ee; font-family: 'Bungee', sans-serif;">pyEDUCATE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/revise" style="color: #afd7ee;">Quick Revision Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map" style="color: #afd7ee;">Show me a Mind Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/question" style="color: #afd7ee;">Test Your Knowledge</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="box">
            <div>
                <h4>Original Text</h4>
                <p>{{original}}</p>
            </div>
            <hr>
            <div class="row" id="sum">
                {% if result %}
                {% for res in result %}
                <div class="col-md-4" style="align-items: center;">
                    <div class = "card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem; margin: auto; cursor: pointer;" onmouseover="make_blue(this)" onmouseout="remove_border(this)">
                        <div class="card-body">
                            <p class="card-text">{{res}}</p>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
                {% else %}
                <h4>Unable to generate questions :(</h4>
                <p>{{result}}</p>
                {% endif %}

                
                <!-- <div class="col-md-6">
                    {% if result %}
                    <h4>Generated Questions</h4>
                    <ol>
                    {% for res in result %}
                    <li>{{res}}</li>
                    {% endfor %}
                    </ol>
                    {% else %}
                    <h4>Unable to generate questions :(</h4>
                    <p>{{result}}</p>
                    {% endif %}
                </div> -->
            </div>
        </div>
    </body>
    <script>
    function make_blue(card) {
        card.style.border = "1px solid blue"
    }
    function remove_border(card) {
        card.style.border = null
    }
    </script>
</html>