<!DOCTYPE html>
<html>
    <head>
        <title>Questions</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Bungee&family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='question.css')}}">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
            <a class="navbar-brand" href="/" style="color: #afd7ee; font-family: 'Bungee', sans-serif;">pyEDUCATE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/revise" style="color: #afd7ee;">Quick Revision Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map" style="color: #afd7ee;">Show me a Mind Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/question" style="color: #afd7ee;">Test Your Knowledge</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="ques_loader">
        <div id="loader"></div>
        <p id="text_load" style="color: #1f1f1f;text-align: center">Generating Questions...</p>
        </div>
        <div class="box" id="question_generation">
            <h1 style="font-family: 'Bungee', cursive;">Question and Answer Time</h1>
            <p>Want to test whatever you've learnt? Enter the text and we'll generate practice questions for you!</p>
            <br>
            <div class="row" id="ques_gen">
                <div class="col-md-8">
                    <form action="/generate_questions" method="POST" onload="onLoad()" style="text-align: center;">
                        <textarea class="sample-text" id="original_text" name="original_text">It was just empyreal. You had to see it to believe it. Dwayne Bravo delivered a yorker outside the off stump, he drilled it to the third man, the throw came in quick, and he put in the full-length dive. MS Dhoni took off the bails, but the dive had saved him.
                            Virat Kohli had sprinted like a cheetah, giving it absolutely everything and completed two runs. And, the dive came in at a time when he had played more than 16 overs in the sapping humidity, but he was still ready to put in the extra yard. That is what sets Kohli apart from the rest, this is what makes him the monarch of the sport. 
                            In fact, it would not be an exaggeration to say that Kohli’s single-handed batting masterclass on October 10th 2020 was the sole factor behind his side thumping three-time IPL champions Chennai Super Kings in the marquee encounter between the two sides.
                            
                            The wicket was not the easiest to bat on. Run making was not going to be simple. And that is why Kohli’s 90* off 52 balls deserves to be viewed with a sense of awe.
                            
                            It was a match where no batsman from either side scored even a half-century apart from him, and a match where no batsman who faced more than 20 deliveries even had a strike rate of over 120. Yet, Kohli scored a grandiose 90*, and scored his runs at a strike rate of close to 175, and made the other mortals fade away in front of his unmatched resplendence.
                            
                            And, the most important trait that makes his innings a gem that will shine effulgently is the way he paced his innings. In the two tables below, let us split Kohli’s 52 ball innings into 2 halves- the first 26 balls he faced, and the final 26 deliveries he faced.
                            In his first 26 balls, Kohli scored only 30 runs. He struck just 2 boundaries and was striking at 115.38. His focus was more on building the innings, his focus was more on tapping the ball in the gaps. The wickets fell at the other end, and Kohli knew that he had to take it deep. The master knew that he had to stay until the end.
                            
                            And, at the end of the 15th over, RCB’s scorecard read 95/4. They were going at just over 6 runs an over and it looked as if even a total of 150 would be a challenge from there. But then, Kohli decided to take matters into his hands.
                            
                            What was special about Kohli’s sparkling innings was how he switched gears. He switched from caution to aggression with ease. There was not an element of slogging in the way he played his shots. It looked as if he just willed it to happen, as if the transition to overdrive mode was the easiest thing to do.
                            In the next 26 balls he faced, Kohli scored 60 runs. His strike rate in the second half of the innings was 230.76, exactly double of his strike rate in his first 26 balls.
                            
                            But then, what made us gape at him were the shots that he played in the second half of his innings. To a short delivery from Thakur off the last ball of the 17th over, Kohli pirouetted onto the back foot and pulled the bowler past square leg and the ball thudded into the ropes. That took him past his half-century. Kohli raised his willow to the dressing room and gave a soft thump to his chest as if to tell them that he is ‘there’ for them.
                            
                            Off the third ball of the 18th over, he hammered Sam Curran over long on for six. It was a shot of disdain from a man whose only aim was to steer his side to a position of dominance. If Kohli showed power on that occasion, his next six was a shot that had ‘sorcery’ written all over it. Curran delivered the ball on leg stump, Kohli danced down the track and sent the ball soaring past the ropes with a mere flick of his wrists.
                            
                            The Bangalore side had collected 24 runs off Curran’s over, and Kohli was indeed leading the charge. Shardul Thakur was spanked straight down the ground for six in the next over, as Kohli stamped his authority all over the opposition.
                            
                            The RCB skipper then showed his ‘cheeky’ side as well. The wily Dwayne Bravo delivered the ball well outside off stump, but Kohli had sensed that the fine leg fielder was inside the circle. So, he just moved across his stumps, and scooped the ball over the fielder’s head for four. He was just toying with the field and was in the ‘zone’.
                            
                            The next four balls yielded 8 runs to Kohli, but there was not a single boundary that was scored. Kohli just tapped the ball into empty spaces, and completed four consecutive twos. He ran every run as if his life depended on it, and helped his side post a competitive total of 169 runs on the board.</textarea>
                        <button class="cover-button" type="submit" onclick="onLoad()">Generate Questions</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <img src="../static/assets/question.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </body>
    <script>
    
    function onLoad() {
        document.getElementById("loader").style.display = "block";
        document.getElementById("ques_loader").style.display = "block";
        document.getElementById("text_load").style.display = "block";
        document.getElementById("question_generation").style.display = "none";
    }
    function onFinish() {
        document.getElementById("loader").style.display = "none";
    }
    </script>
</html>
